
a{
  color: #ccc;
}
footer{
  padding-top: 10px;
  color: white;
  border-top: 1px solid black;
  background-color:#003057;
}
.logo{
  max-width: 150px;
}
header{
  padding: 5px 10px;
}
.App {
  padding-top: 105px; 
}
.navbar {
  border-radius: 0px;
}